body {
    background: url(images/MassBlur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

button {
    font-size: 1rem;
    color: white;
    margin: 0 .2rem;
    width: 12vh;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: .3rem;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.37);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    height: 12vh;
}

.header-logo {
    grid-column: 1;
    margin: auto 0;
}

.logo {
    height: 2.3rem;
    width: auto;
    margin-left: 1rem;
}

.header-text {
    font-size: 3rem;
}

.nav {
    display: flex;
    grid-column: 2;
    justify-content: end;
    margin: auto 1rem auto 0;
}

.svg-icon {
    display: none;
    width: auto;
    height: 1.8rem;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

.image>img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
    margin: 0 auto;
}

.special-container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 400px) 1fr;
    align-items: stretch;
    justify-items: stretch;
}

.special1 {
    grid-column: 1;
    border-bottom: solid .05rem rgba(255, 255, 255, 0.45);
    text-align: center;
    margin: auto 0 auto 1rem;
    padding-right: 6rem;
}

.divider {
    grid-column: 2;
    margin: 2rem 0;
    font-size: 4rem;
    text-align: center;
}

.special2 {
    grid-column: 3;
    border-bottom: solid .05rem rgba(255, 255, 255, 0.45);
    text-align: center;
    margin: auto 1rem auto 0;
    padding-left: 6rem;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    justify-items: stretch;
}

#card-one {
    grid-column: 1;
    margin-right: 2vh;
}

#card-two {
    grid-column: 2;
    margin-left: 2vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.358);
    border-radius: 1.3rem;
    min-height: auto;
    min-width: 20vh;
    max-width: 60vh;
    margin: 2vh auto;
    padding: 3vh 5vh;
}

.card-body {
    display: flex;
    justify-content: center;
}

.card-image {
    margin: auto 0;
}

.link-logos {
    height: auto;
    width: 5rem;
}

.card-header {
    line-height: 20%;
}

@media screen and (max-width: 1200px) {
    .header-container {
        grid-template-columns: 3fr 1fr;
    }

    .nav {
        flex-direction: column;

    }

    .svg-icon {
        position: absolute;
    }

    button {}

    .navbtn {}

    .svg-icon {
        display: block;
    }

    .special-container {
        grid-template-columns: 1fr minmax(0, 200px) 1fr;
    }

    .special1 {
        padding-right: 4rem;
    }

    .divider {
        font-size: 2rem;
    }

    .special2 {
        padding-left: 4rem;
    }

    .card-container {
        grid-template-columns: auto;
        margin: 0 2vh;
    }

    #card-one {
        margin: 2vh auto;
    }

    #card-two {
        margin: 2vh auto;
        grid-column: 1;
    }
}


/* a {
    color: white;
    text-decoration: none;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    grid-row: 1;
}

.headerlogo {
    grid-column: 1;
}

.center {
    grid-column: 2;
}

.special {
    grid-row: 2;
}

img.logo {
    height: auto;
    width: 4rem;
    position: relative;
}

.headertext {
    position: absolute;
    margin: 1rem 0;
}

.nav {
    margin: auto 1rem;
    grid-column: 3;
}

.image {
    grid-area: image;
    display: flex;
    margin-bottom: 5vh;
}

.image>img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: 80% 0;
    margin: 0 auto;
}

.divider {
    grid-area: divider;
    text-align: center;
    font-size: 4rem;
    grid-column: 2;
}

.special1 {
    grid-area: special1;
    border-bottom: solid .05rem rgba(255, 255, 255, 0.45);
    text-align: center;
    margin: auto 0 auto 1rem;
    padding-right: 6rem;
    grid-column: 1;
}

.special2 {
    grid-area: special2;
    border-bottom: solid .05rem rgba(255, 255, 255, 0.45);
    text-align: center;
    margin: auto 1rem auto 0;
    padding-left: 6rem;
    grid-column: 3;
}

.card-container {
    grid-area: card-container;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin: 5vh 50vh 0 50vh;
    grid-row: 3;
}

footer {
    grid-area: footer;
    height: 15vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.358);
    border-radius: .8rem;
}

.card-body {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.card-image {
    margin: auto 0;
}

.card-header {
    line-height: 20%;
}

.border {
    border-bottom: solid .05rem rgba(255, 255, 255, 0.45);
    margin-right: 1rem;
}

.card-message {
    margin-top: .1rem;
}

.link-logos {
    height: auto;
    width: 5rem;
}


@media screen and (max-width: 1200px) {
    .card-container {

        display: flex;
        flex-direction: column;
    }
} */